<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<!-- TODO: Implement content rendering as desired, depending on notification type, etc. -->
    <h1>Hi <%= @to.first_name %>, you have a new notification from PokeRing</h1>
    <p><%= @notification.content %></p>
  </body>
</html>